.holder ul + p {
    font-size: 24px;
  }
.holder a[href="https://www.youtube.com/"] {
    color:red;
}
.holder a[href="https://validator.w3.org/"] {
    color:red;
 }
 /* Або так 
 .holder a[href^="https"] {
    color:red;
}
 */
